$theme-name: 'hc-light';

// Notification & alert
$red: #990000;
$light-red: #cc0000;

$orange: #ed3400;

$dark-yellow: #af6b00;
$yellow: #a78820;
$light-yellow: #f4f4f4;
$lighter-yellow: #f4f4f4;

$green: #009900;
$light-green: #009900;
$lighter-green: #00cc00;

$blue: #111111;

$disabled-bg-color: #f0f0f0;
$disabled-item-color: #ffffff;
$disabled-item-bg-color: #9f9f9f;

// Layout
$header-bg-color: #f3f3f3;
$sidebar-bg-color: #000000;

$scrollbar-track-color: rgba(#acbbc2, .55);
$scrollbar-thumb-color: rgba(#878787, .85);
$scrollbar-thumb-color-darken: 5% !default;

$sidebar-scrollbar-track-color: rgba(#87d1ff, .55);
$sidebar-scrollbar-thumb-color: rgba(#87d1ff, .85);

$sidebar-toggle-bg-position: -600px -592px;

// Main
$font-color: #000000;
$font-selected-color: #ffffff;
$font-alt-color: #333333;
$body-bg-color: #ffffff;
$overlay-bg-color: #000000;
$overlay-border-color: #383838;

// Main menu
$menu-main-color: #ffffff;
$menu-main-hover-color: #000000;
$menu-main-hover-bg-color: #e6e6e6;
$menu-main-hover-border-color: transparent;
$menu-main-selected-bg-color: #000000;
$menu-main-selected-border-color: #f3f3f3;
$menu-main-expanded-color: #000000;
$menu-main-expanded-bg-color: #f3f3f3;

$menu-main-submenu-color: #f4f4f4;
$menu-main-submenu-bg-color: #333333;
$menu-main-submenu-border-color: #0d0d0d;
$menu-main-submenu-hover-color: #000000;
$menu-main-submenu-hover-bg-color: #e6e6e6;
$menu-main-submenu-hover-border-color: transparent;
$menu-main-submenu-selected-color: #000000;
$menu-main-submenu-selected-bg-color: #f3f3f3;
$menu-main-submenu-selected-border-color: #949494;

$menu-main-submenu-next-level-bg: #000000 !default;
$menu-main-submenu-next-level-shadow: transparent !default;

$menu-main-icons-opacity: 1;

$menu-user-color: #cedae1;
$menu-user-hover-color: #ffffff;
$menu-user-disabled-color: #9f9f9f;

$menu-user-submenu-color: #f4f4f4;
$menu-user-submenu-bg-color: #333333;
$menu-user-submenu-border-color: #0d0d0d;
$menu-user-submenu-hover-color: #000000;
$menu-user-submenu-hover-bg-color: #e6e6e6;
$menu-user-submenu-hover-border-color: transparent;
$menu-user-submenu-selected-color: #000000;
$menu-user-submenu-selected-bg-color: #f3f3f3;
$menu-user-submenu-selected-border-color: #949494;

$menu-user-submenu-next-level-bg: #000000 !default;
$menu-user-submenu-next-level-shadow: transparent !default;

$menu-user-arrow-bg-position: -606px -434px;
$menu-user-arrow-hover-bg-position: -606px -434px;
$menu-user-selected-arrow-bg-position: -579px -434px;

// Sidebar
$sidebar-server-name-color: #9f9f9f;

$menu-main-icons: (
	dashboard: -570px -664px,
	problems: -570px -688px,
	monitoring: -570px -712px,
	services: -570px -832px,
	inventory: -570px -736px,
	reports: -570px -760px,
	configuration: -570px -784px,
	administration: -570px -808px
);

$menu-user-expanded-icons: (
	support: -247px -84px,
	integrations: -168px -84px,
	help: -168px -48px,
	guest: -247px -192px,
	profile: -168px -120px,
	signout: -168px -156px
);

// UI
$ui-bg-color: #ffffff;
$ui-bg-selected-color: #333333;
$ui-hover-color: #f4f4f4;
$ui-border-color: #9f9f9f;
$ui-placeholder-background-color: darken($body-bg-color, 10%);
$ui-highlighted-parent-background-color: darken($body-bg-color, 4%);
$ui-sortable-helper-background-color: $ui-bg-color;
$ui-sortable-helper-border-color: $ui-border-color;

$action-hover-color: #f4f4f4;
$action-border-color: #383838;
$action-shadow-color: rgba(0, 0, 0, .5);

$table-border-color: #888888;

$ui-tab-bg-selected-color: #888888;

// Forms
$form-font-color: #000000;
$form-bg-color: #ffffff;
$form-border-color: #888888;
$form-border-focus-color: #000000;
$form-fields-group-border-color: #888888;

$form-disabled-font-color: #9f9f9f;
$form-disabled-bg-color: #f0f0f0;
$form-disabled-border-color: #9f9f9f;

$scrollbar-track-color: #999999;
$scrollbar-thumb-color: #f9f9f9;
$scrollbar-thumb-color-darken: 30%;

// Search form
$form-search-bg-color: #000000;
$form-search-border-color: #ffffff;
$form-search-focused-color: #000000;
$form-search-focused-bg-color: #ffffff;
$form-search-focused-border-color: #ffffff;
$form-search-icon-bg-position: -570px -616px;
$form-search-icon-opacity: 1;
$form-search-focused-icon-bg-position: -600px -616px;
$form-search-icon-focused-bg-position: -570px -616px;
$form-search-focused-icon-hover-bg-position: $form-search-focused-icon-bg-position;

$input-placeholder-color: #777777;

// Error messages
$msg-bad-color: $red;
$msg-good-color: $green;
$msg-warning-color: #b37e12;
$msg-warning-border-color: #ffb319;

// Buttons
$btn-font-color: #ffffff;
$btn-bg-color: #555555;
$btn-border-color: #333333;
$btn-border-focus-color: #000000;

$btn-alt-font-color: #000000;
$btn-alt-bg-color: transparent;
$btn-alt-border-color: $btn-border-color;

$btn-form-font-color: #333333;
$btn-form-bg-color: $form-bg-color;
$btn-form-hover-color: #f4f4f4;
$btn-form-border-color: $form-border-color;

$btn-disabled-font-color: #999999;
$btn-disabled-bg-color: transparent;
$btn-disabled-border-color: #999999;

$btn-back-map-background-color: rgba(0, 0, 0, .8);
$btn-back-text-color: #ffffff;
$btn-back-background-hover: #000000;

// Links
$link-color: #555555;
$link-hover-color: #000000;
$link-active-color: #555555;
$link-visited-color: #555555;

$link-alt-underline-color: #808080;

$link-main-nav-color: rgba(0, 0, 0, .8);
$link-main-nav-hover-color: #000000;
$link-main-nav-active-color: #000000;
$link-main-nav-visited-color: rgba(0, 0, 0, .8);

$link-main-subnav-color: rgba(255, 255, 255, .8);
$link-main-subnav-hover-color: #ffffff;
$link-main-subnav-active-color: #ffffff;
$link-main-subnav-visited-color: rgba(255, 255, 255, .8);

// Analog clock
$clock-face-color: #ffffff;
$clock-hand-color: #000000;
$clock-hand-sec-color: #555555;
$clock-lines-color: #555555;

// Statuses
$problem-unack-fg-color: #cc0000;
$problem-ack-fg-color: #cc0000;
$ok-unack-fg-color: #009900;
$ok-ack-fg-color: #009900;

// Multiselect
$multiselect-selected-bg-color: #777777;

// Dashboard list table.
$dashboard-shared-bg-color: #555555;
$dashboard-my-bg-color: #555555;

// Import compare.
$toc-title-color: #ffffff;
$toc-title-bg-color: #333333;
$diff-added-bg-color: transparent;
$diff-removed-bg-color: transparent;

// Change indicators.
$arrow-fill-up: #000000;
$arrow-fill-down: #000000;
$arrow-fill-up-down: #000000;

// Important! @import string should come after variables
@import 'screen.scss';

// layout/sidebar
.sidebar {
	.logo {
		&:focus {
			.sidebar-logo {
				box-shadow: 0 0 0 2px #ffffff;
			}
		}
	}

	button {
		&:focus {
			box-shadow: 0 0 0 2px #ffffff;
		}
	}

	&.is-compact:not(.is-opened) {
		.menu-main {
			& > li {
				&.is-selected {
					> a {
						background: $menu-main-expanded-bg-color;
						border-left-color: $menu-main-expanded-border-color;

						&::before {
							background-position-x: -600px;
						}
					}
				}
			}
		}
	}
}

// components/menu-main
.menu-main {
	li.has-submenu {
		&.is-expanded > a,
		.is-selected > a,
		& > a:hover,
		& > a:focus {
			&::before {
				background-position-x: -600px;
			}

			&::after {
				background-position-x: -579px;
			}
		}
	}
}

// components/menu-user
.menu-user {
	a {
		padding-left: 45px;
		border-left: 3px solid transparent;

		&::before {
			left: 15px;
		}

		&:link,
		&:visited {
			border-bottom: 0;
		}

		&:hover,
		&:focus {
			border-color: #ffffff;
		}
	}
}

.dashboard-navigation-tabs {
	.csortable-list {
		& > .csortable-item:focus:not(:active) {
			& > div {
				box-shadow: 0 0 0 2px $blue;
			}
		}
	}

	& .csortable > .csortable-item > div,
	& .csortable-list > .csortable-item > div:hover {
		border: 1px solid darken($action-hover-color, 40%);
	}

	& .csortable > .csortable-item > div.selected-tab,
	& .csortable-list > .csortable-item > div.selected-tab {
		span {
			color: $white;
		}
	}
}

// Dashboard, widgets and iterators.
// To maintain code clarity:
//   - Do not mix rules for dashboard view mode and dashboard edit mode.
//   - Do not mix rules for widgets and iterators.

.dashboard-widget-placeholder {
	.dashboard-widget-placeholder-box {
		box-shadow: none;
		border-color: $font-color;
		background-color: transparent;
	}

	.dashboard-widget-placeholder-label {
		&::before {
			background: url($sprite-path) no-repeat -213px -888px;
		}
	}

	.dashboard-widget-placeholder-resizing {
		border: 2px dashed $font-color;
		box-shadow: none;

		.dashboard-widget-placeholder-label {
			&::before {
				background: url($sprite-path) no-repeat -401px -888px;
			}
		}
	}
}

.dashboard.dashboard-is-edit-mode {
	.dashboard-grid-iterator {
		&.ui-resizable-resizing,
		&.ui-draggable-dragging {
			.dashboard-grid-iterator-mask {
				border: 0;
			}
		}
	}
}

$var-icons: (
	maintenance: -205px -803px,
	depend-up: -206px -731px,
	depend-down: -206px -766px,
	ackn: -203px -693px
);

// Dynamically generated classes:
//  .icon-maintenance
//  .icon-depend-up
//  .icon-depend-down
//  .icon-ackn
@each $var-icons, $bgimage in $var-icons {
	.icon-#{$var-icons} {
		&::before {
			background-position: $bgimage;
		}
	}
}

$form-icon-btn: (
	cal: url($sprite-path) no-repeat -201px -834px,
	wizard-action: url($sprite-path) no-repeat -168px -617px
);

// Dynamically generated classes:
//  .icon-cal
//  .icon-wizard-action
@each $form-icon-btn, $bgimage in $form-icon-btn {
	.icon-#{$form-icon-btn} {
		background: $transparent $bgimage;
		@extend %form-icon-btn;

		@if $form-icon-btn == 'wizard-action' {
			margin-top: -16px;
		}
	}
}

$icon-widget-btn: (
	dashboard-page-properties: url($sprite-path) no-repeat -318px -618px,
	iterator-page-previous: url($sprite-path) no-repeat -244px -657px,
	iterator-page-next: url($sprite-path) no-repeat -242px -623px,
	widget-action: url($sprite-path) no-repeat -165px -618px,
	widget-collapse: url($sprite-path) no-repeat -165px -654px,
	widget-expand: url($sprite-path) no-repeat -165px -690px,
	widget-edit: url($sprite-path) no-repeat -201px -619px,
	alarm-on: url($sprite-path) no-repeat -165px -546px,
	alarm-off: url($sprite-path) no-repeat -165px -582px,
	sound-on: url($sprite-path) no-repeat -165px -474px,
	sound-off: url($sprite-path) no-repeat -165px -510px,
	info-clock: url($sprite-path) no-repeat -246px -762px
);

// Dynamically generated classes:
//  .btn-dashboard-page-properties
//  .btn-iterator-page-previous
//  .btn-iterator-page-next
//  .btn-widget-action
//  .btn-widget-collapse
//  .btn-widget-expand
//  .btn-widget-edit
//  .btn-alarm-on
//  .btn-alarm-off
//  .btn-sound-on
//  .btn-sound-off
//  .btn-info-clock
@each $icon-widget-btn, $bgimage in $icon-widget-btn {
	.btn-#{$icon-widget-btn} {
		background: $bgimage;
		@extend %btn-widget;
	}
}

.btn-dashboard-conf {
	background: url($sprite-path) no-repeat -201px -619px !important;
}

.subfilter-enabled {
	.link-action {
		color: $link-hover-color;

		&:focus {
			color: $link-hover-color;
			border-bottom: 3px solid $link-hover-color;
		}

		&:hover {
			color: $link-hover-color;
			border-bottom: 1px solid $link-hover-color;
		}
	}
}

.timeline-axis {
	border-right-color: darken(desaturate($btn-bg-color, 4%), 18%) !important;

	&::before {
		background-color: darken(desaturate($btn-bg-color, 4%), 18%) !important;
	}
}

.menu-popup {
	.menu-popup-item {
		&:hover,
		&:focus,
		&:active,
		&.highlighted {
			background-color: #000000;
			color: #ffffff;

			.arrow-right {
				border-left-color: #ffffff;
			}

			&.selected {
				&::before {
					background: url($sprite-path) no-repeat -317px -835px;
				}
			}
		}

		&.selected {
			&::before {
				background: url($sprite-path) no-repeat -164px -835px;
			}
		}

		&.disabled {
			background-color: transparent;
			color: $form-disabled-font-color;
		}
	}
}

.btn-add {
	background: url($sprite-path) no-repeat -204px -550px !important;
}

.btn-edit {
	background: url($sprite-path) no-repeat -204px -477px !important;
}

.btn-import {
	background: url($sprite-path) no-repeat -204px -514px !important;
}

.drag-icon {
	background: url($sprite-path) no-repeat -165px -762px !important;
}

// Colors and general.
button {
	&:focus {
		background-color: lighten($btn-bg-color, 10%);
		box-shadow: 0 0 0 2px $blue;
	}
}

.btn-alt {
	&:focus {
		box-shadow: 0 0 0 2px $blue;
	}
}

.radio-list-control {
	.normal-bg,
	.average-bg,
	.disaster-bg,
	.high-bg,
	.info-bg,
	.na-bg,
	.warning-bg {
		&::before,
		&::after {
			display: none;
		}
	}

	li {
		input[type="radio"] {
			&:checked:not([disabled]) + label {
				color: $white;
			}

			&:checked + label {
				background-color: $ui-bg-selected-color !important;
			}

			&:focus + label {
				background-color: lighten($btn-bg-color, 10%) !important;
				box-shadow: 0 0 0 2px $blue !important;
				color: $white;
			}

			&:checked[disabled] + label {
				background-color: #d3d3d3 !important;
			}
		}
	}
}

a {
	&:link {
		border-bottom: 1px solid rgba($link-hover-color, .5);
	}

	&:visited {
		border-bottom: 1px solid $link-hover-color;
	}

	&:hover {
		border-bottom: 1px solid $link-hover-color;
	}

	&:focus {
		border-bottom: 3px solid $link-hover-color;
	}
}

a.link-action {
	border-bottom: 1px dotted;
}

.link-action {
	&:hover {
		color: $link-hover-color;
		border-bottom: 1px solid $link-hover-color;
	}

	&:active {
		color: $link-hover-color;
		border-bottom: 1px dotted $link-hover-color;
	}

	&:focus {
		color: $link-hover-color;
		border-bottom: 3px solid $link-hover-color;
	}
}

.link-alt {
	&:link {
		border-bottom: 1px solid $link-alt-underline-color;
	}

	&:visited {
		border-bottom: 1px solid $link-alt-underline-color;
	}

	&:hover {
		color: $link-hover-color;
		border-bottom: 1px solid $link-hover-color;
	}

	&:focus {
		color: $link-hover-color;
		border-bottom: 3px solid $link-hover-color;
	}

	&:active {
		color: $link-active-color;
		border-bottom: 1px solid $link-active-color;
	}
}

.header-navigation {
	li,
	> li:first-child {
		> span a:focus {
			margin-bottom: -2px;
		}
	}

	> li {
		> span a:focus {
			line-height: 12px;
		}
	}
}

.server-name {
	color: $link-main-subnav-color;
}

.status-dark-grey {
	border: none !important;
	background-color: #666666 !important;
}

.btn-link {
	font-weight: bold !important;
	color: #000000 !important;

	&:focus {
		margin-bottom: -3px !important;
		border-bottom: 3px solid $link-hover-color !important;
	}
}

.table-paging {
	a {
		&:focus {
			background-color: #777777 !important;
		}
	}
}

.paging-selected {
	&:focus {
		background-color: #777777 !important;
	}
}

.filter-trigger {
	.arrow-down {
		border-top-color: #ffffff !important;
	}
}

.tag {
	&.green-bg,
	&.yellow-bg {
		background-color: $ui-bg-selected-color;
		color: $white;
	}
}

.disabled {
	opacity: .5;
}

.multiselect {
	&.active {
		box-shadow: 0 0 0 1px $blue;
		transition: box-shadow .2s ease-out;
	}

	input[type="text"] {
		&:focus {
			box-shadow: none;
		}
	}

	.multiselect-list {
		li.selected {
			.subfilter-enabled,
			.subfilter-disable-btn,
			.subfilter-disable-btn:active {
				box-shadow: 0 0 0 1px $blue;
			}
		}
	}
}

.checkbox-radio {
	&:focus + label span {
		box-shadow: 0 0 0 1px $blue;
		transition: box-shadow .2s ease-out;
	}
}

%form-input-style {
	&:focus {
		box-shadow: 0 0 0 1px $blue;
		transition: box-shadow .2s ease-out;
	}
}

.multiselect-suggest {
	li {
		&.suggest-hover {
			color: #ffffff;
			background-color: #000000;

			.grey {
				color: #dcdcdc;
			}

			.suggest-found {
				color: lighten($alt-yellow, 10%);
			}
		}
	}
}

.suggest-found {
	color: darken($dark-yellow, 10%);
}

.dashboard-widget-graph-link {
	&:focus {
		&::after {
			background: $blue;
			height: 3px;
			bottom: -3px;
		}
	}
}

// Tables.
.list-table {
	.subfilter-enabled {
		background-color: $ui-bg-color;
		box-shadow: 0 0 0 1px $link-hover-color;
	}

	thead th {
		border-color: lighten($table-border-color, 3%);
	}

	&.compact-view {
		.flh-na-bg,
		.flh-info-bg,
		.flh-warning-bg,
		.flh-average-bg,
		.flh-high-bg,
		.flh-disaster-bg {
			&:not(.row-selected):not(:hover) {
				background: none;
			}
		}

		td {
			&.na-bg,
			&.normal-bg,
			&.info-bg,
			&.warning-bg,
			&.average-bg,
			&.high-bg,
			&.disaster-bg {
				&::before {
					min-height: 20px;
					box-shadow: inset 0 -1px 0 0 $table-border-color;
				}

				&::after {
					top: 1px;
					transform: scale(.8);
				}
			}

			box-shadow: inset 0 -1px 0 0 $table-border-color;

			.icon-depend-up::before {
				background-position: -208px -731px;
			}

			.icon-depend-down::before {
				background-position: -208px -767px;
			}

			.icon-wizard-action {
				background: transparent url($sprite-path) no-repeat -318px -624px;
			}

			.icon-wizard-action {
				background: transparent url($sprite-path) no-repeat -165px -624px;
			}
		}
	}
}

.overlay-dialogue {
	.list-table {
		th:first-child {
			padding-left: 0px;
		}

		td:first-child {
			padding-left: 42px;
		}
	}
}

// Checkbox disabling.
.filter-highlight-row-cb {
	display: none;
}

// Severity statuses.

.status-container {
	.status-na-bg,
	.status-info-bg,
	.status-warning-bg,
	.status-average-bg,
	.status-high-bg,
	.status-disaster-bg {
		border-color: rgba($ui-bg-color, .2);
		background-color: $ui-bg-selected-color;
		color: $ui-bg-color;
	}
}

.na-bg,
.normal-bg,
.info-bg,
.average-bg,
.warning-bg,
.high-bg,
.disaster-bg,
.log-na-bg,
.log-info-bg,
.log-warning-bg,
.log-high-bg,
.log-disaster-bg {
	background-color: rgba(0, 0, 0, 0) !important;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		min-height: 28px;
		width: 34px;
	}

	&::after {
		background: url($sprite-path) no-repeat;
		content: '';
		position: absolute;
		left: 6px;
		top: 5px;
		width: 22px;
		height: 18px;
	}
}

.na-bg::after,
.log-na-bg::after {
	background-position: -106px -411px;
}

.normal-bg::after {
	background-position: -76px -411px;
}

.info-bg::after,
.log-info-bg::after {
	background-position: -136px -411px;
}

.average-bg::after {
	background-position: -196px -410px;
}

.warning-bg::after,
.log-warning-bg::after {
	background-position: -166px -411px;
}

.high-bg::after,
.log-high-bg::after {
	background-position: -226px -411px;
}

.disaster-bg::after,
.log-disaster-bg::after {
	background-position: -256px -411px;
}

.na-bg,
.log-na-bg,
.normal-bg {
	&::before {
		background-color: $alt-green;
	}
}

.na-bg,
.normal-bg,
.info-bg,
.average-bg,
.warning-bg,
.high-bg,
.disaster-bg {
	&.blink-hidden::after {
		content: none;
	}

	a.link-action {
		color: $link-color;
	}
}

// Dynamically generated classes:
//  .log-na-bg
//  .log-info-bg
//  .log-warning-bg
//  .log-high-bg
//  .log-disaster-bg
@each $class, $color in (
	na-bg: $alt-blue-grey,
	info-bg: $alt-dark-blue,
	warning-bg: $alt-yellow,
	high-bg: $alt-dark-orange,
	disaster-bg: $alt-red
) {
	.log-#{$class}::before {
		color: darken($color, 45%) !important;
		background-color: $color !important;
	}
}

td.na-bg,
td.normal-bg,
td.info-bg,
td.average-bg,
td.warning-bg,
td.high-bg,
td.disaster-bg,
td.log-na-bg,
td.log-info-bg,
td.log-warning-bg,
td.log-high-bg,
td.log-disaster-bg {
	padding-left: 42px !important;
	color: $font-color;
}

.notif-body {
	h4 {
		padding-bottom: 3px;
		margin-bottom: -3px;
	}

	p {
		margin: .25em 0 2px;
	}

	li {
		padding: 0 0 10px 42px;
	}
}

.notif-indic {
	width: 34px;
	height: 27px;
	position: relative;
	margin: 0 0 0 -42px;
}

td.inactive-bg {
	padding-left: 42px !important;
	color: $font-color;
}

.inactive-bg {
	background-color: rgba(0, 0, 0, 0) !important;
}

.inactive-bg::before {
	content: '';
	width: 34px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	min-height: 28px;
	background-color: $alt-red;
}

.inactive-bg::after {
	content: '';
	background: url($sprite-path) no-repeat -256px -411px;
	width: 22px;
	height: 18px;
	top: 5px;
	left: 6px;
	position: absolute;
}

// Error messages.
.msg-bad,
.msg-good,
.msg-warning {
	.link-action:hover {
		color: $link-hover-color;
	}
}

// Graph and map.
.graph-selection {
	background-color: rgba($font-color, .1);
	border: 0;
	outline: 2px solid rgba($font-color, .6);
}

.svg-graph-selection {
	fill: rgba($font-color, .1);
	stroke: rgba($font-color, .6);
	stroke-width: 2px;
}

.ui-selectable-helper {
	background-color: rgba($font-color, .1);
	border: 2px solid rgba($font-color, .6);
}

.map-element-selected {
	border: 3px dashed $font-color;
}

// Multiline input control.
.multilineinput-control {
	button {
		&::after {
			background-position: -206px -478px;
		}

		&:focus::after {
			background-position: -206px -478px;
		}
	}
}

.btn-back-map-container {
	a {
		border-bottom: 0;
	}

	.btn-back-map {
		.btn-back-map-icon {
			background-position: -85px -725px;
		}
	}
}

// Time selection.
.ui-tabs-nav {
	.btn-time,
	.filter-trigger {
		&:hover {
			background-color: darken($btn-bg-color, 10%);
		}

		&:focus {
			background-color: lighten($btn-bg-color, 10%);
			box-shadow: 0 0 0 2px $blue;
		}
	}

	.ui-state-focus {
		.btn-time,
		.filter-trigger {
			background-color: lighten($btn-bg-color, 10%);
			box-shadow: 0 0 0 2px $blue;
		}

		&.ui-tabs-active {
			.btn-time,
			.filter-trigger {
				background-color: $ui-hover-color;
				border-color: $ui-hover-color;
				box-shadow: 0 0 0 2px $blue;
			}
		}
	}
}

.btn-time-left {
	background-position: -244px -657px;

	&:disabled {
		background-position: -244px -657px;
	}
}

.btn-time-right {
	background-position: -242px -623px;

	&:disabled {
		background-position: -242px -623px;
	}
}

.btn-time-right,
.btn-time-left {
	&:hover,
	&:focus {
		@include btn-hover-active($btn-font-color, $btn-bg-color);
	}

	&:focus {
		background-color: lighten($btn-bg-color, 10%);
	}
}

.time-quick {
	li {
		a {
			&:focus {
				border-radius: 2px;
				box-shadow: 0 0 0 2px $blue;
			}
		}
	}
}

.icon-action-command::before {
	background-position: -249px -325px;
}

.icon-action-close::before {
	background-position: -224px -325px;
}

.icon-action-msg::before {
	background-position: -299px -285px;
}

.icon-action-severity-up::before {
	background-position: -349px -285px;
}

.icon-action-severity-down::before {
	background-position: -375px -285px;
}

.icon-action-severity-changed::before {
	background-position: -399px -285px;
}

.icon-action-message::before {
	background-position: -199px -285px;
}

.icon-action-ack::before {
	background-position: -323px -285px;
}

.icon-action-unack::before {
	background-position: -173px -285px;
}

.icon-action-suppress::before {
	background-position: -249px -803px;
}

.icon-action-unsuppress::before {
	background-position: -249px -836px;
}

.icon-invisible::before {
	background-position: -249px -803px;
}

.icon-problem-generated::before {
	background-position: -449px -285px;
}

.icon-problem-recovery::before {
	background-position: -424px -285px;
}

.icon-action-msgs,
.icon-description {
	&::before {
		background-position: -474px -285px;
	}
}

.icon-actions-number-gray {
	&::before {
		background-position: -499px -285px;
	}
}

.icon-actions-number-yellow {
	&::before {
		background-position: -549px -285px;
	}
}

.icon-actions-number-red {
	&::before {
		background-position: -524px -285px;
	}
}

.icon-user {
	&::before {
		background-position: -419px -46px;
	}
}

.icon-user-group {
	&::before {
		background-position: -419px -8px;
	}
}

.problem-icon-link {
	&:focus {
		box-shadow: 0 0 0 2px $blue;
	}
}

.problem-icon-link,
.problem-icon-list {
	.problem-icon-list-item {
		background: transparent;
		color: $font-color;
		position: relative;
		padding-left: 20px;

		&::before {
			content: '';
			background-image: url($sprite-path);
			background-repeat: no-repeat;
			border-radius: 3px;
			position: absolute;
			top: 0;
			left: 0;
			height: 17px;
			width: 17px;
		}
	}

	@each $severity-type, $position in (
			na-bg: -357px -409px,
			info-bg: -380px -409px,
			average-bg: -403px -409px,
			warning-bg: -426px -409px,
			high-bg: -449px -409px,
			disaster-bg: -472px -409px
	) {
		.status-#{$severity-type}::before {
			background-position: $position;
		}
	}
}

// Overrides.
.overrides-options-list {
	> li > div {
		background-color: $ui-bg-selected-color !important;

		> .subfilter-disable-btn {
			border: none !important;
			top: 0;
		}
	}
}

.totals-list {
	> div {
		border-top: 1px solid $ui-border-color;
		color: $font-color;
	}

	.count {
		font-weight: bold;
	}

	&.totals-list-horizontal {
		> div:not(:last-of-type) {
			border-right: 1px solid $ui-border-color;
		}
	}
}

// Widget "Host availability".
.host-avail-widget {
	td:not(:first-child) {
		border-left: 1px solid $ui-border-color;
	}

	.host-avail-true,
	.host-avail-false,
	.host-avail-unknown,
	.host-avail-total {
		background: transparent;
	}
}

// Widget "Navigation tree"
.navtree {
	.tree .tree-item > .tree-row {
		min-width: 410px;
	}
}

// Widget "Problems by severity".
.by-severity-widget {
	> div {
		min-width: 65px;
		padding-left: 42px;

		&::after {
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

// InputSecret and ButtonDropdown

.btn-undo.is-focused {
	box-shadow: 0 1px 0px $blue, 0 -1px 0px $blue;
}

// Tabfilter

.filter-container.tabfilter-container {
	.tabfilter-item-label {
		&.focused {
			box-shadow: 0 0 0 2px $blue;
		}
	}
}

.breadcrumbs {
	&>::after {
		content: " /";
	}

	&>:last-child::after {
		content: "";
	}
}

// HOST INTERFACES

.interfaces {
	.interface-row {
		&[data-type="2"] {
			.interface-btn-toggle {
				background-position: -165px -690px;
			}

			&.list-accordion-item-opened {
				.interface-btn-toggle {
					background-position: -165px -655px;
				}
			}
		}
	}
}
